In [ ]:
# !pip install kafka-python
# !pip install pandas

In [1]:
from kafka import KafkaProducer
import pandas as pd
from json import dumps
from time import sleep

In [2]:
producer = KafkaProducer(bootstrap_servers=['<EC2_Public_IP>:9092'], #Add EC2 IP Here
                         value_serializer=lambda x:
                         dumps(x).encode('UTF-8'))

In [3]:
producer.send('stocks-data-consumer', value={'surnasdasdame':'parasdasdmar'}) # Sample Data Check

In [5]:
df = pd.read_csv("dataset/indexProcessed.csv")

In [6]:
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [ ]:
while True:
    dict_stock = df.sample(1).to_dict(orient="records")[0]
    producer.send('<topic_name>', value=dict_stock)
    sleep(1)

In [4]:
producer.flush() #Clear data from kafka server